@font-face {
  font-family: "raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

header.page-header {
  background-color: #FFE17F;
  color: #000000;
  font-size: 16px;
  width: 1160px;
  margin: 0 auto;
}

.users-navigation-list {
  display: flex;
  width: 1076px;
  justify-content: space-between;
  margin: 0 auto;
}

.users-navigation {
  display: flex;
  width: 538px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav.main-navigation {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
}

.main-navigation-list {
  display: flex;
  width: 1041px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

.best-ofer-slider {
  display: flex;

  width: 1160px;
  margin: 0 auto;
}

.gallery-container {
  width: 560px;
}

.description-container {
  width: 560px;
}

.slide-description-header {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.more-information {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

.specifications-list-item {
  font-size: 16px;
}

.range {
  font-size: 36px;
  color: #000000;
}

.radius {
  font-size: 36px;
  color: #000000;
}

.categories {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

.categories-navigation-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.categories-navigation-item {
  width: 160px;
  background-color: #FFE17F;
  justify-content: space-between;
}

.services-section-main {
  background-color: #F0F0F0;
  width: 100%;
}

.services-section {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services-navigation {
  width: 281px;
  margin: 0;
  padding: 0;
}

.service-container {
  width: 879px;
}

.services-navigation-list {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

.services-navigation-button {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
}

.services-navigation-button-active {
  color: #FFE17F;
}

.service-header {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-service {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #F0F0F0;
  width: 1160px;
  margin: 0 auto;
}

.about-us-contacts {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.about-us {
  width: 560px;
}

h2 {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-ways {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-us-more {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

.contacts {
  width: 560px;
}

.contacts h3 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

address {
  font-style: normal;
}

.contact-us {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

.subscribe-main {
  background-color: #F0F0F0;
  width: 100%;
}

.subscribe {
  width: 1160px;
  margin: 0 auto;
}

.subscribe label {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-button {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  color: #000000;
}

footer {
  background-color: #444444;
  font-size: 16px;
  width: 100%;
}

.page-footer-main {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

p.contacts-address-text {
  line-height: 19px;
  color: #FFFFFF;
}

.footer-navigation-list {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
}

.main-container-inner {
  margin: 0 auto;
}

.main-inner {
  color: #000000;
}

h1 {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

}

.breadcrumbs {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: space-around;
}

span.filter {
  background-color: #DCDCDC;
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.catalog-products {
  display: flex;
}

.filter-bar-container {
  width: 468px;
}

.catalog-filter {
  background-color: #F0F0F0;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.button-show {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
}

.product-list-container {
  width: 972px;
  display: flex;
  flex-direction: column;
}

.sorting-bar {
  background-color: #EBEBEB;
}

.select-control {
  font-family: "rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;

}

.sorting-list {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.product-list {
  width: 760px;
  margin: 0 auto;
}


.more-about {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
}

.product-card-price {
  line-height: 21px;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
}

.pagination-show-more {
  width: 760px;
  margin: 0 auto;
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.pagination {
  width: 760px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #EBEBEB;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

.pagination-direction {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
}



