/* =========================================== FONTS ======================================================== */

@font-face {
  font-family: "raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* =========================================== GLOBAL ======================================================== */

html {
  height: 100%;
}

/**,*/
/**::before,*/
/**::after {*/
/*  box-sizing: border-box;*/
/*}*/

/*body > * {*/
/*  outline: 1px solid red;*/
/*}*/

/*body > * > * {*/
/*  outline: 1px solid green;*/
/*}*/

/*body > * > * > * {*/
/*  outline: 1px solid blue;*/
/*}*/

/*body > * > * > * > * {*/
/*  outline: 1px solid mediumvioletred;*/
/*}*/

/*body > * > * > * > * > * {*/
/*  outline: 1px solid orangered;*/
/*}*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fieldset-reset-list {
  border: none;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

h1 {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;

}

h2 {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

a {
  text-decoration: none;
}

/* ================================================ INDEX-PAGE =========================================================== */

/* =========================================== HEADER ======================================================== */

.page-header {
  background-color: #FFE17F;

  width: 1160px;
  margin: 40px auto -75px auto;
}

.header-wrapper {
  margin: 0 60px;
}


div.users-navigation-list {
  display: flex;
  margin-bottom: 30px;
}


ul.users-navigation {
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0;
}

.users-navigation-list a {
  color: #000000;
  font-size: 16px;
}

.users-navigation-search {
  margin-right: auto;
}

.entrance {
  margin-right: auto;
}

.compare {
  margin-right: 14px;
}

.cart {
}

.main-navigation {
  margin-bottom: 167px;
}

.main-navigation-list {
  display: flex;
}

.navigation-list-item-catalog {
  margin-right: 350px;
}

.navigation-list-item-delivery {
  margin-right: 34px;
}

.navigation-list-item-guarantee {
  margin-right: 92px;
}

.main-navigation a {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  color: #000000;
}


/* =========================================== MAIN ======================================================== */

/* =================== SLIDER ======================================================== */


.best-ofer-slider {
  display: flex;
  width: 1160px;
  margin: 0 auto 70px auto;
  justify-content: space-between;
}

.gallery-container {
  width: 560px;
  display: flex;
}

.slider-prev {
  order: -1;
}

.description-container {
  width: 560px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slide-number {
  font-weight: 800;
  font-size: 180px;
  color: #FFFFFF;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: start;
}

.slide-description-header {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
}

.slide-description {
  grid-column: 1/3;
  grid-row: 2/3;
}

.more-information {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  grid-column: 1/2;
  grid-row: 3/4;
}

.slider-pagination {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
}

.specifications-list {
  display: flex;
  /*width: 100%;*/
}

.specifications-list-item {
  font-size: 16px;
  grid-column: 1/3;
  grid-row: -1/-2;
  display: flex;
  flex-direction: column-reverse;
  width: 160px;
  justify-content: space-around;
}

.range {
  font-size: 36px;
  color: #000000;
}

.radius {
  font-size: 36px;
  color: #000000;
}

/* =================== CATEGORIES ======================================================== */

.categories {
  width: 1160px;
  margin: 0 auto 138px auto;
}

.categories-navigation-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.categories-navigation-item {
  width: 160px;
}

.categories a {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

/* =================== SERVICES ======================================================== */

.services-section-wrapper {
  background-color: #F0F0F0;
  width: 100%;
  margin-bottom: 90px;


}

.wrapp {
  position: relative;
  top: -80px;
}

.services-section {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.services-navigation {
  width: 281px;
  border-right: 7px solid #000000;
}

.services-navigation-list {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  display: flex;
  width: 280px;
  height: 100%;
  padding-top: 60px;
  flex-direction: column;
  justify-content: flex-start;
}

.services-navigation-item {
  width: 280px;
}

.services-navigation-item:not(:last-child) {
  margin-bottom: 45px;
}

.services-navigation-button {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  text-transform: uppercase;
  width: 160px;
  border: none;
  padding-top: 9px;
  padding-bottom: 11px;
  background: none;
}

.services-active {
  color: #FFE17F;
  background-color: black;
}

.service-container {
  width: 879px;
  padding-left: 116px;
  padding-bottom: 69px;
}

.service-header {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.service-container p {
  width: 430px;
}

/* =================== DELIVERY-SERVICES ======================================================== */

.delivery-service {
  background-color: #F0F0F0;
  width: 1160px;
  margin: 0 auto;
  text-align: center;
}

.delivery-service a {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 910px;
  display: block;
  margin: 0 auto;
  padding: 37px 125px 43px 125px;
}

/* =================== ABOUT-US-CONTACTS ======================================================== */

.about-us-contacts {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.about-us {
  width: 560px;
}

.delivery-ways a {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-us-more {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

.contacts {
  width: 560px;
}

.contacts h3 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

address {
  font-style: normal;
}

.contacts-address a {
  color: #000000;
}

.contact-us {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

/* =================== SUBSCRIBE ======================================================== */

.subscribe-main {
  background-color: #F0F0F0;
  width: 100%;
}

.subscribe {
  width: 1160px;
  margin: 0 auto;
}

.subscribe label {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-button {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  color: #000000;
}

/* =========================================== FOOTER ======================================================== */

footer {
  background-color: #444444;
  font-size: 16px;
  width: 100%;
}

.page-footer-main {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.contacts-address-footer p {
  line-height: 19px;
  color: #FFFFFF;
}

.contacts-address-footer a {
  font-size: 16px;
  color: #FFFFFF;
}

.footer-navigation-list a {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  color: #FFFFFF;
}

/* ================================================ CATALOG-PAGE =========================================================== */

.main-container-inner {
  width: 1160px;
  margin: 0 auto;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
}

.inner-header-wrapper {
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-around;
  width: 425px;
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* =================== CATALOG ======================================================== */

.catalog-wrapper {
  margin-left: 60px;
  width: 1100px;
}

.product-catalog {
  display: flex;
}

/* =================== FILTER-BAR ======================================================== */

.filter-bar {
  display: flex;
  flex-direction: column;

  background-color: #F0F0F0;
}

span.filter {
  background-color: #DCDCDC;
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}


.catalog-filter-form {
  background-color: #F0F0F0;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #444444;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.button-show {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
}

/* =================== SORTING-BAR ======================================================== */

.catalog {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px auto 55px 70px;

}

.sorting-bar {
  background-color: #EBEBEB;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.sorting-list {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.select-control {
  font-family: "rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;

}

/* =================== CATALOG ================================ */

.catalog-list {
  /*width: 760px;*/
  /*margin: 0 auto;*/
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  padding-top: 69px;
  padding-bottom: 44px;
  padding-left: 72px;

}

.product-card-price {
  line-height: 21px;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.pagination-show-more {
  width: 760px;
  margin-left: 72px;

  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  grid-row: -2/-3;
  grid-column: 1/-1;

}

.pagination {
  width: 760px;
  margin-left: 72px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #EBEBEB;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  grid-row: -1/-2;
  grid-column: 1/-1;
}

.pagination-direction {
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 800;
}



