/* =========================================== FONTS ======================================================== */

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* =========================================== GLOBAL ======================================================== */

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.reset-legend {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 1160px;
  width: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.h-1-style {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.h-2-style {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.h-3-style {
  margin: 0;
}

.link-decoration {
  text-decoration: none;
}

.button-yellow {
  position: relative;
  width: max-content;
}

.button-yellow::after {
  content: "";
  position: absolute;
  left: -39px;
  right: -39px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 8px;
  background: #FFE17F;
}

.button-yellow:hover::after {
  content: "";
  position: absolute;
  left: -39px;
  right: -39px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 40px;
  background: #FFE17F;
}

.button-yellow:focus {
  outline: none;
}

.button-yellow:focus-visible::after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 8px;
  background: #AF4FFF;
}

.button-yellow:active {
  color: rgba(0, 0, 0, 0.3);
}

.users-navigation-search input::-ms-clear,
.users-navigation-search input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.users-navigation-search input::-webkit-search-decoration,
.users-navigation-search input::-webkit-search-cancel-button,
.users-navigation-search input::-webkit-search-results-button,
.users-navigation-search input::-webkit-search-results-decoration {
  display: none;
}

/* ================================================ INDEX-PAGE =========================================================== */

/* =========================================== HEADER ======================================================== */

.page-header {
  width: 1160px;
  margin: 40px auto 0 auto;
  background: #FFE17F;
}

.header-wrapper {
  margin: 0 60px;
}

.logo {
  position: relative;
  left: -4px;
  bottom: 23px;
}

.page-header a {
  padding: 5px;
}

/*================== USERS-NAVIGATION================== */

div.users-navigation-list {
  left: -15px;
  position: relative;
  top: -7px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  margin-bottom: 30px;
}

/*================== строка поиска ================== */

.users-navigation-search {
  position: relative;
  display: flex;
  width: 516px;
  margin-right: 36px;
  min-height: 40px;
}

.users-navigation-search::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 11%;
  transform: translateY(50%);
  width: 16px;
  height: 16px;
  background: url("../img/svg/search-icon.svg") no-repeat center;
}

.users-navigation-search input {
  position: absolute;
  width: 516px;
  padding-left: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFE17F;
  border: 0;
  border-radius: 25px;
}

.users-navigation-search input::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 30%;
}

.search-button {
  position: relative;
  top: 0;
  left: 356px;
  display: none;
  padding: 10px;
  width: 160px;
  margin-right: 40px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: transparent;
  border: 0;
  border-left: 2px solid #000000;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.users-navigation-search input:hover::placeholder {
  opacity: 60%;
}

.users-navigation-search input:focus-visible {
  outline: 2px solid #AF4FFF;
}

.users-navigation-search input:not(:placeholder-shown) + .search-button {
  display: block;
}

.search-button:focus-visible {
  border: 2px solid #AF4FFF;
}

.users-navigation-search input:not(:placeholder-shown) {
  border: 2px solid #000000;
  outline: none;
  border-radius: 25px;
  -moz-border-radius: 25px;
}

.search-button:hover {
  color: #FFFFFF;
  background: #000000;
}

.search-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

ul.users-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
}

.users-navigation-item {
  width: max-content;
  height: max-content;
}

.users-navigation a {
  font-size: 16px;
  color: #000000;
  padding-left: 8px;
}

.user {
  position: relative;
  right: -4px;
  margin-right: -29px;
}

.entrance {
  position: relative;
  left: 6px;
  margin-right: 147px;
}

.user + .entrance {
  position: relative;
  margin-right: 15px;
  left: 5px;
}

.user + .entrance {
  opacity: 0.3;
}

.compare {
  margin-right: 0;
}

.cart {
  position: relative;
  right: -10px;
}

.cart-count {
  position: absolute;
  left: -17px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #FFFFFF;
}

/*===============POPUP=================*/

.popup {
  display: none;
  position: absolute;
  top: 45px;
  right: -80px;
  z-index: 20;
  background: #000000;
}

.show-popup {
  display: block;
}

.popup::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  right: 50%;
  top: -6px;
  width: 14px;
  height: 14px;
  background: #000000;
}

.cart-popup {
  width: 320px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-item a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}

.cart-item a:hover,
.delete-cart-item:hover {
  opacity: 0.6;
}

.cart-item a:focus-visible {
  outline: none;
  color: #AF4FFF;
}

.cart-item a:focus-visible .cart-item-img {
  outline: 5px solid #AF4FFF;
}

.delete-cart-item:focus-visible {
  outline: 2px solid #AF4FFF;
}

.cart-item a:active,
.delete-cart-item:active {
  opacity: 0.3;
}

.cart-item img {
  margin-right: 23px;
}

.cart-item p {
  max-width: 170px;
  margin: 0;
}

.delete-cart-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background: url("../img/svg/delete-icon.svg") no-repeat center transparent;
  cursor: pointer;
}

.items-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 44px;
  background: #1A1A1A;
}

.items-total p {
  margin: 0;
}

.items-total span {
  padding-left: 3px;
}

.show-cart {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.show-cart-button {
  width: 280px;
  height: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: calc(1em / 5);
  color: #000000;
  background: #FFFFFF;
  border: 0;
  cursor: pointer;
}

.show-cart-button:hover {
  background: #FFE17F;
}

.show-cart-button:focus-visible {
  outline: 5px solid #AF4FFF;
}

.show-cart-button:active {
  background: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
}

.users-navigation svg {
  position: relative;
  left: -6px;
  top: 0;
}

.users-navigation-entrance svg {
  left: -8px;
  top: 0;
}

.users-navigation-item:hover {
  opacity: 60%;
}

.users-navigation-item a:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 5px;
  border-radius: 25px;
}

.users-navigation-item:active {
  opacity: 30%;
}

/*================== MAIN-NAVIGATION ================== */

.main-navigation {
  margin-bottom: 155px;
}

.main-navigation-list {
  position: relative;
  top: -5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1041px;
  height: max-content;
}

.main-navigation-list li:not(:first-child) {
  width: min-content;
}

.main-navigation-list a {
  width: min-content;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: calc(1em / 5);
  color: #000000;
}

.main-navigation-item a {
  position: relative;
  left: 3px;
}

.navigation-catalog-item {
  position: relative;
  right: 5px;
  width: 240px;
  margin-right: 299px;
}

.delivery-item {
  position: relative;
  right: 9px;
  margin-right: 9px;
}

.guarantee-item {
  margin-right: 73px;
}

.contacts-item {
  position: relative;
  left: 6px;
}

.main-navigation-item a:hover::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: black;
}

.main-navigation-item a:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 25px;
}

.main-navigation-item a:active::after {
  opacity: 0.3;
}

.navigation-catalog-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 248px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: url("../img/svg/plus-icon.svg") no-repeat center;
  opacity: 0.2;
}

.navigation-catalog-item:hover::after {
  background: url("../img/svg/minus-icon.svg") no-repeat center;
  opacity: 1;
}

.navigation-catalog-item:hover .sub-catalog {
  display: block;
}

.navigation-catalog-item:focus-within .sub-catalog {
  display: block;
}

.navigation-catalog-item a:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 25px;
}

.navigation-catalog-item a:active {
  opacity: 0.3;
}

.navigation-catalog-item:active::after {
  opacity: 0.3;
}

/*================== SUB-CATALOG ================== */

.sub-catalog {
  display: none;
  position: absolute;
  top: calc(100% + 16px);
  left: -55px;
  width: 1160px;
  height: 145px;
  padding-left: 60px;
  background: #FFE17F;
  z-index: 10;
}

.sub-catalog-list {
  display: flex;
  justify-content: space-between;
  width: 560px;
}

.sub-catalog-item {
  min-width: 238px;
}

.sub-item {
  min-width: 100%;
  margin-bottom: 7px;
}

.sub-item a {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: inherit;
  color: #000000;
  letter-spacing: inherit;
}

.sub-item a:hover {
  opacity: 0.6;
}

.sub-item a:active {
  opacity: 0.3;
}

/* =========================================== MAIN ======================================================== */

/* =================== SLIDER ======================================================== */

.best-ofer-slider {
  position: relative;
  top: -65px;
  display: none;
  width: 1160px;
  margin: 0 auto -80px auto;
}

.slider-active {
  display: flex;
}

.gallery-container {
  position: relative;
  bottom: 86px;
  display: flex;
  justify-content: center;
  width: 560px;
  max-height: 560px;
  margin-right: 40px;
}

/*================== SLIDER-ILLUSTRATION ================== */

.slider-image-wrapper {
  position: relative;
}

.slider-image-wrapper img {
  display: block;
}

.slider-button-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 97%;
  justify-content: space-between;
}

.slider-button {
  width: 40px;
  height: 80px;
  border: none;
  background: url("../img/svg/slider-button-icon.svg") no-repeat center;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus-visible {
  outline: 2px solid #AF4FFF;
  border-radius: 6px;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-prev {
  transform: rotate(180deg);
}

/*================== SLIDER-DESCRIPTION ================== */

.description-container {
  width: 560px;
  margin-bottom: 150px;
}

.slide-number {
  display: flex;
  justify-content: flex-end;
  align-self: start;
  margin-right: 50px;
  grid-column: 1/-1;
  grid-row: 1/2;
  font-weight: 800;
  font-size: 180px;
  color: #FFFFFF;
}

.slide-description-header {
  position: relative;
  top: 6px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slide-description {
  position: relative;
  top: 33px;
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 0;
  align-self: start;
}

.more-information {
  top: 78px;
  height: min-content;
  margin-left: 39px;
  grid-column: 1/2;
  grid-row: 3/4;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  color: #000000;
}

.slider-pagination {
  position: relative;
  top: 58px;
  right: -2px;
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin-right: 61px;
  grid-column: 2/3;
  grid-row: 3/4;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 22px;
}

.slider-pagination-active {
  background: black;
}

.slider-pagination-button:hover {
  opacity: 60%;
}

.slider-pagination-button:focus-visible {
  border: 2px solid #AF4FFF;
  outline: none;
}

.slider-pagination-button:active {
  opacity: 30%;
}

.specifications-list {
  position: relative;
  top: 131px;
  right: -1px;
  display: flex;
}

.specifications-list-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  max-width: 221px;
  min-width: 150px;
  grid-column: 1/-1;
  grid-row: -1/-2;
  font-size: 16px;
}

.specifications-list-item:not(:last-child) {
  margin-right: 9px;
}

.specification {
  margin-bottom: 10px;
  font-size: 36px;
  color: #000000;
}

/* =================== CATEGORIES ======================================================== */

.categories {
  width: 1160px;
  margin: 0 auto 172px auto;
}

.categories-navigation-list {
  display: flex;
  width: 100%;
}

.categories-navigation-item {
  width: 165px;
}

.categories-navigation-item:not(:last-child) {
  margin-right: 40px;
}

.categories a {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 30px;
  background: #FFE17F;
}

.icon-description {
  width: 165px;
}

.monopod-icon svg {
  margin-top: auto;
}

.categories a:hover .icon-wrapper {
  background: #FFC700;
}

.categories-navigation-item a:focus-visible {
  outline: none;
  color: #AF4FFF;
}

.categories-navigation-item a:focus-visible .icon-wrapper {
  outline: 5px solid #AF4FFF;
}

.categories-navigation-item a:active {
  opacity: 0.3;
}

.categories-navigation-item a:active .icon-wrapper,
.categories-navigation-item a:active .icon-wrapper svg {
  background: #FFC700;
  fill-opacity: 0.3;
}

/* =================== SERVICES ======================================================== */

.services-section-wrapper {
  z-index: -2;
  min-height: 288px;
  width: 100%;
  margin-bottom: 88px;
  background: #F0F0F0;

}

.wrapp {
  position: relative;
  top: -86px;
}

.services-section {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.services-navigation {
  position: relative;
  width: 283px;
}

.services-navigation::after {
  content: "";
  position: absolute;
  top: -13px;
  bottom: -24px;
  left: 98%;
  z-index: 4;
  width: 7px;
  background-color: #000000;
}

.services-navigation-list {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: calc(100% + 40px);
  padding-top: 66px;
  padding-bottom: 45px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
}

.services-navigation-item {
  width: 100%;
}

.services-navigation-item:not(:last-child) {
  margin-bottom: 24px;
}

.services-navigation-button {
  position: relative;
  z-index: 1;
  display: block;
  width: 160px;
  padding: 9px 18px 11px 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  font-style: normal;
  border: none;
  background: none;
}

.services-navigation-button:not(.service-active-button button) {
  cursor: pointer;
}

.service-active-button,
.service-active-button button {
  color: #FFE17F;
  background: #000000;
}

.services-navigation-button:not(.service-active-button button)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 8px;
  background: #FFC700;

}

.services-navigation-button:hover:not(.service-active-button button)::before {
  height: 100%;
}

.services-navigation-button:focus-visible:not(.service-active-button button)::before {
  background: #AF4FFF;
}

.services-navigation-button:focus-visible {
  outline: none;
}

.services-navigation-button:active:not(.service-active-button button)::before {
  z-index: -1;
  right: -120px;
  background: #000000;
}

.services-navigation-button:active:not(.service-active-button button) {
  color: #FFE17F;
}

.service-container {
  display: none;
  position: relative;
  width: 879px;
  padding-left: 117px;
  padding-top: 8px;
}

.service-active {
  display: block;
}

.service-container::after {
  content: "";
  position: absolute;
  right: 49px;
  top: 56px;
  width: 171px;
  height: 195px;
}

.delivery::after {
  background: url("../img/svg/delivery-man-icon.svg") no-repeat center;
}

.warranty::after {
  background: url("../img/svg/warranty-icon.svg") no-repeat center;
}

.credit::after {
  background: url("../img/svg/credit-icon.svg") no-repeat center;
}

.service-header {
  margin-bottom: 33px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.service-container p {
  width: 452px;
}

/* =================== DELIVERY-SERVICE ======================================================== */

.delivery-service {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto 145px auto;
  background: #F0F0F0;
}

.delivery-service a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 26px 178px 41px 125px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.delivery-service a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  width: 125px;
  height: 100%;
  background: #FFE17F;
}

.delivery-service a::after {
  content: "";
  position: absolute;
  right: 33px;
  top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(220, 220, 220) url("../img/svg/info-icon.svg") no-repeat center;
  opacity: 0.5;
}

.delivery-service-link svg {
  transform: translateX(-226px) translateY(10px);
}

.delivery-service a:hover::before {
  background: #FFC700;
}

.delivery-service a:hover::after {
  opacity: 1;
}

.delivery-service a:focus-visible {
  outline: 5px solid #AF4FFF;
}

.delivery-service a:active {
  color: rgba(0, 0, 0, 0.3)
}

.delivery-service a:active svg {
  opacity: 0.3;
}

.delivery-service a:active::after {
  opacity: 0.3;
}

.delivery-service a:active::before {
  background: #FFC700;
  opacity: 1;
}

/* =================== ABOUT-US-CONTACTS ======================================================== */

.about-us-contacts {
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto 86px auto;
}

.about-us-contacts section::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-right: 40px;
}

.about-us-heading {
  margin-bottom: 29px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}

.about-us-text p {
  width: 497px;
  margin-bottom: 11px;
}

.delivery-ways {
  margin: 0 0 58px 0;
  padding-left: 20px;
}

.delivery-ways-item {
  margin-bottom: 10px;
  padding-left: 15px;
}

.delivery-ways-item::marker {
  color: #FFC700;
}

.delivery-ways a {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.011em;
  color: #000000;
}

.about-us-more {
  margin-left: 18px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.about-us-more::after {
  left: -19px;
  right: -14px;
}

.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
}

.contacts-heading {
  margin-bottom: 28px;
}

.contacts p {
  width: 510px;
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
}

address {
  margin-bottom: 29px;
  font-style: normal;
}

p.contacts-address-text {
  margin: 0;
}

.contacts-address a {
  color: #444444;
}

.about-us-phone {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.contacts-schedule {
  margin-bottom: 68px;
}

.contact-us {
  margin-left: 34px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  color: #000000;
}

.contact-us::after {
  left: -35px;
  right: -30px;
}

/* =================== SUBSCRIBE ======================================================== */
.subscribe-wrapper {
  padding-top: 75px;
  padding-bottom: 106px;
  width: 100%;
  background: #F0F0F0;
}

.subscribe-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  width: 1160px;
  margin: 0 auto;
  background: #F0F0F0;
}

.subscribe label {
  display: block;
  width: 560px;
  grid-column: 1/3;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-description {
  grid-column: 2/-1;
  justify-self: end;
  align-self: end;
  margin: 0;
  width: 560px;
}

.subscribe-form {
  display: flex;
  position: relative;
  top: -4px;
  align-items: stretch;
  align-self: center;
  grid-column: 1/4;
  grid-row: -1/-2;
  width: 860px;
  height: 55px;
}

.subscribe {
  margin: 0 auto;
  flex-grow: 1;
  width: 601px;
  padding-left: 0;
  padding-top: 9px;
  border: none;
  background: #F0F0F0;
  border-bottom: 3px solid rgba(27%, 27%, 27%, 0.1);
}

.subscribe:hover {
  border-bottom: 3px solid rgba(27%, 27%, 27%, 0.2);
}

.subscribe-form .subscribe:focus {
  background: #DCDCDC;
  outline: none;
}

.subscribe-form .subscribe:active {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.subscribe-form-invalid {
  border-bottom: 3px solid #FF3D3D;
}

.subscribe::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscribe:not(:placeholder-shown) {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  border-bottom: 3px solid #000000;
}

.subscribe-button {
  position: absolute;
  left: 601px;
  top: 0;
  width: 259px;
  height: auto;
  padding: 14px 0 14px 3px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  color: #000000;
  background: #F0F0F0;
  border: 3px solid rgba(27%, 27%, 27%, 0.1);
}

.subscribe-button:hover {
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.subscribe-button:focus-visible {
  outline: none;
  border: 3px solid #AF4FFF;
}

.subscribe-button:active {
  background: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-free {
  position: relative;
  right: -7px;
  top: -38px;
  align-self: end;
  grid-column: -1/-2;
  grid-row: -1/-2;
  width: 164px;
  text-align: end;
}

.subscribe-free::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 14px;
  height: 14px;
  background: url("../img/svg/its-free-icon.svg") no-repeat;
}

/* =========================================== FOOTER ======================================================== */

footer {
  min-width: 1160px;
  font-size: 16px;
  background: #444444;
}

.page-footer-main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0;
}

.page-footer-main::before {
  content: "";
  position: absolute;
  bottom: 59px;
  left: 0;
  width: 80px;
  height: 7px;
  background: #FFC700;
}

.footer-logo {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 9px;
  margin-left: -3px;
}

.footer-contacts-address {
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer-address {
  width: 240px;
  margin-left: -2px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-contacts-phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: center;
  min-width: 293px;
  padding-bottom: 9px;
  grid-column: -1/-2;
  grid-row: 2/3;
}

.contacts-phone {
  padding: -1px 15px 5px 15px;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 25px;
}

.contacts-phone:hover {
  color: #FFC700;
}

.contacts-phone:focus-visible {
  outline: 2px solid #AF4FFF;
}

.contacts-phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-navigation {
  align-self: center;
  margin: 0 auto;
  grid-column: 2/4;
  grid-row: 2/3;
}

.footer-navigation-list {
  position: relative;
  top: -3px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5px;
  width: 495px;
}

.footer-navigation-item {
  width: 148px;
  text-align: center;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 7px;
}

.footer-navigation-list a {
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
}

.footer-navigation-list a:hover {
  color: #FFC700;
}

.footer-navigation-list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 28px;
  height: 2px;
  background: #FFC700;
}

.footer-navigation-list a:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 10px;
  border-radius: 25px;
}

.footer-navigation-list a:active {
  opacity: 0.3;
}

.footer-navigation-list a:active::after {
  opacity: 0.3;
}

.footer-social {
  position: relative;
  top: 26px;
  grid-column: 2/4;
  grid-row: 3/4;
  margin: 0 auto;
  align-self: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 150px;
  max-width: 310px;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-social-item a {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.footer-social-item svg {
  margin: auto 0;
}

.button-social:hover {
  background: #FFC700;
}

.button-social:focus-visible {
  outline: 5px solid #AF4FFF;
  background: #444444;
}

.button-social:focus-visible .focus {
  fill: #FFFFFF;
}

.button-social:active {
  background: #FFC700;
}

.button-social:active .focus {
  fill: #444444;
  fill-opacity: 0.3;
}

.academy-link-wrapper {
  position: relative;
  top: 26px;
  right: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-end;
  grid-column: -1/-2;
  grid-row: 3/4;
}

.academy-link {
  display: flex;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.academy-link:hover path.academy-path {
  fill: #FFFFFF;
}

.academy-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.academy-link:active path.academy-path {
  fill: #FFFFFF;
  fill-opacity: 0.3;
}

/* ================================================ CATALOG-PAGE =========================================================== */

.catalog-header {
  margin-bottom: 37px;
}

.catalog-header .main-navigation {
  margin-bottom: 43px;
}

.main-container-inner {
  width: 1160px;
  margin: 0 auto;
}

/* ======== INNER-HEADER =========================================================== */

.inner-header {
  width: 1160px;
  margin: 0 auto 44px auto;
}

.inner-header-wrapper {
  margin-left: 60px;
}

.inner-header-title {
  margin-bottom: 16px;
}

/*========= BREADCRUMBS =========================================================*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.breadcrumbs-item {
  position: relative;
  width: max-content;
  opacity: 0.6;
}

.breadcrumbs-item:hover {
  opacity: 1;
}

.breadcrumbs-item a:focus-visible {
  outline: 5px solid #AF4FFF;
  outline-offset: 7px;
}

.breadcrumbs-item:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 43%;
  left: 100%;
  width: 4px;
  height: 7px;
  margin-left: 16px;
  background: url("../img/svg/breadcrumb-icon.svg") no-repeat center;
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 35px;
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* =================== CATALOG ======================================================== */

.catalog-wrapper {
  width: 1100px;
  margin-left: 60px;
}

.product-catalog {
  display: flex;
}

/* =================== FILTER-BAR ======================================================== */

.filter-bar {
  display: flex;
  flex-direction: column;
}

.filter-wrapper {
  display: flex;
  height: 75px;
  background: #DCDCDC;
}

span.filter {
  position: relative;
  width: 268px;
  min-height: 70px;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  background: #DCDCDC;
}

span.filter::before {
  content: "";
  position: absolute;
  top: 0;
  right: 268px;
  width: calc((100vw - 1050px) / 2);
  min-height: 70px;
  height: 100%;
  background: #DCDCDC;
}

.catalog-form-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.catalog-form-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: calc((100vw - 1050px) / 2);
  min-height: 70px;
  height: 100%;
  background: #F0F0F0;
}

.catalog-filter-form {
  height: 100%;
  padding-top: 69px;
  padding-right: 68px;
  background: #F0F0F0;
}

.color-set-wrapper + .catalog-filter-group {
  margin-bottom: 34px;
}

.range-filter-wrapper {
  padding: 12px 0 35px 0;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  margin-bottom: 0;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 37px;
}

.range {
  width: 200px;
}

.range-scale {
  position: relative;
  height: 2px;
  background: #DCDCDC;
  margin-bottom: 15px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background: #000000;
}

.range-bar-control {
  left: 9px;
  width: 120px;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus-visible {
  border: 2px solid #AF4FFF;
  outline: none;
}

.range-toggle:active {
  background: #000000;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.input-filter-wrapper {
  display: flex;
  justify-content: flex-start;
}

.catalog-filter-label {
  display: flex;
  justify-content: center;
  font-size: 15px;
  opacity: 0.3;
  line-height: 18px;
  color: #444444;
}

.catalog-filter-label:first-child {
  transform: translateX(-5px);
  margin-right: 30px;
}

.input-span {
  margin-right: 3px;
}

.catalog-filter-input {
  width: 40px;
  text-align: start;
  background: inherit;
  border: none;
  appearance: none;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input {
  -moz-appearance: textfield;
}

.color-set-wrapper {
  padding-bottom: 0;
  padding-top: 10px;
  border-bottom: 2px solid #000000;
  margin-bottom: 12px;
}

.color-set-wrapper .catalog-filter-title {
  margin-bottom: 23px;
}

.catalog-filter-item {
  margin-bottom: 10px;
}

.color-set-wrapper .catalog-filter-group {
  padding-bottom: 29px;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background: url("../img/svg/checked-icon.svg") no-repeat center;
  opacity: 1;
}

.control:hover .control-input:checked + .control-mark {
  opacity: 0.5;
}

.control:hover .control-input + .control-mark {
  opacity: 0.2;
}

.control:hover .control-input:checked + .control-mark + .control-label {
  opacity: 0.5;
}

.control-input[type="checkbox"]:checked:focus-visible + .control-mark {
  background: url("../img/svg/checked-focus-icon.svg") no-repeat center;
  opacity: 1;
  border: 2px solid #AF4FFF;
}

.control-input:focus-visible + .control-mark {
  border: 2px solid #AF4FFF;
  opacity: 1;
}

.control-input:focus-visible:checked + .control-mark + .control-label {
  color: #AF4FFF;
}

.control-input:focus-visible + .control-mark + .control-label {
  color: #AF4FFF;
}

.control-input:active + .control-mark {
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked:active + .control-mark {
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked:active + .control-mark + .control-label {
  opacity: 0.2;
}

.control-input[type="radio"]:checked:active + .control-mark {
  opacity: 0.2;
}

.control-input[type="radio"]:checked:active + .control-mark + .control-label {
  opacity: 0.2;
}

.control-input:active + .control-mark + .control-label {
  opacity: 0.2;
}

.control-mark {
  position: absolute;
  top: 6px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  opacity: 0.2;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  background: url("../img/svg/checked-radio-icon.svg") no-repeat center;
  opacity: 1;
}

.control-input[type="radio"]:checked:focus-visible + .control-mark {
  background: url("../img/svg/checked-focus-radio-icon.svg") no-repeat center;
  opacity: 1;
  border: 2px solid #AF4FFF;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.radio-title {
  margin-bottom: 22px;
}

.button-show {
  position: relative;
  z-index: 1;
  width: 200px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-show::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 8px;
  background: #FFC700;
}

.button-show:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 40px;
  background: #FFC700;
}

.button-show:focus-visible {
  outline: none;
}

.button-show:focus-visible::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 8px;
  background: #AF4FFF;
}

.button-show:active {
  color: rgba(0, 0, 0, 0.3);
}

/* =================== SORTING-BAR ======================================================== */

.catalog {
  display: grid;
  row-gap: 51px;
  grid-template-columns: 100%;
  grid-template-rows:  auto auto 55px 70px;
  margin-bottom: 77px;
}

.sorting-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 18px;
  grid-column: 1/-1;
  grid-row: 1/2;
  background: #EBEBEB;
}

.sorting-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 832px;
  width: calc((100vw - 1184px) / 2);
  min-height: 70px;
  height: 100%;
  background: #EBEBEB;
}

.sorting-type {
  position: relative;
  margin-left: 72px;
  margin-right: auto;
}

.sorting-type svg {
  transform: translateX(-31px) translateY(-2px);
}

.sorting-list {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
}

.select-control {
  position: relative;
  margin-left: 33px;
  padding: 7px 41px 9px 13px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  border: none;
  background: #EBEBEB;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-control:hover,
.select-control:hover + svg {
  opacity: 0.6;
}

.sorting-type:focus-within .select-control:focus-visible {
  outline: 5px solid #AF4FFF;
}

.select-control:active,
.select-control:active + svg {
  opacity: 0.3;
}

.sort-button {
  width: 30px;
  height: 30px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.sort-button:not(.sort-active) svg:hover {
  opacity: 0.5;
}

.sort-button:focus-visible {
  border: 5px solid #AF4FFF;
  outline: none;
}

.sort-up {
  transform: rotate(180deg);
  margin-right: -5px;
}

.sort-button:not(.sort-active) svg {
  opacity: 0.2;
}

.sort-button-wrapper {
  transform: translateX(10px);
}

/* =================== CATALOG ================================ */
.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 46px 40px;
  padding-top: 18px;
  padding-left: 72px;
  margin-bottom: -5px;
}

.product {
  position: relative;
  cursor: default;
}

.label-new::before {
  content: "";
  position: absolute;
  right: 27px;
  top: 27px;
  width: 60px;
  height: 60px;
  background: url("../img/svg/new-icon.svg") no-repeat center;
}

.product-card-image {
  z-index: -3;
  display: block;
  background: #F0F0F0;
  margin-bottom: 32px;
}

.product-description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-card-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding-left: 2px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: calc(1em / 5);
  opacity: 0;
}

.product-link-wrapper {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background: rgba(240, 240, 240, 0)
}

.product-card-link::before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  height: 8px;
  background: #FFC700;
}

.product:hover .product-link-wrapper {
  background: rgba(240, 240, 240, 0.8);
}

.product:hover .product-card-link {
  opacity: 1;
}

.product-card-link:hover::before {
  height: 40px;
}

.product:focus-within .product-link-wrapper {
  background: rgba(240, 240, 240, 0.8);
}

.product:focus-within .product-card-link {
  opacity: 1;
  outline: none;
}

.product:focus-within .product-card-link:focus-visible::before {
  background: #AF4FFF;
}

.product:focus-within .product-card-image:focus-visible {
  border: 5px solid #AF4FFF;
  outline: none;
}

.product:focus-within .product-card-title:focus-visible,
.product:focus-within .product-card-price:focus-visible {
  color: #AF4FFF;
}

.product-card-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  text-align: center;
}

.products-show-more {
  grid-row: -2/-3;
  grid-column: 1/-1;
  width: 760px;
  padding-right: 3px;
  margin-left: 72px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
  background: #FFFFFF;
  border: 3px solid rgba(0%, 0%, 0%, 0.1);
  cursor: pointer;
}

.products-show-more:hover {
  border: 3px solid rgba(0%, 0%, 0%, 1);
}

.products-show-more:focus-visible {
  outline: none;
  border: 5px solid #AF4FFF;
}

.products-show-more:active {
  opacity: 0.3;
}

.pagination {
  display: flex;
  align-items: center;
  grid-column: 1/-1;
  grid-row: -1/-2;
  width: 760px;
  margin-left: 72px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  background: #EBEBEB;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 3px;
  color: rgba(27%, 27%, 27%, 0.3);
  text-align: center;
}

.pagination-item:first-of-type,
.pagination-item:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 127px;
  width: min-content;
  text-align: center;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  color: #000000;
  letter-spacing: calc(1em / 5);
  text-transform: uppercase;
}

.pagination-next a {
  padding-right: 10px;
}

.pagination-item:first-child a:hover,
.pagination-item:last-child a:hover {
  background: #DCDCDC;
}

.pagination-item a:hover {
  color: #444444;
}

.pagination a:focus-visible,
.pagination a:focus-visible {
  border: 5px solid #AF4FFF;
  outline: none;
}

.pagination-item:first-child a:active,
.pagination-item:last-child a:active {
  background: #DCDCDC;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:not(:first-of-type):not(:last-of-type):active {
  color: #444444;
  opacity: 0.1;
}

.pagination-item:not(:first-of-type):not(:last-of-type):not(:nth-of-type(6)) {
  margin-right: 12px;
  width: 28px;
  height: 28px;
}

.pagination-prev {
  margin-right: 179px;
}

.pagination-next {
  margin-left: auto;
}

.pagination-direction {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
}

/*======================== MODAL ==============================*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
}

.modal {
  position: relative;
  width: 950px;
  margin: auto;
  padding: 72px 80px 88px 80px;
  background: #FFFFFF;
  border: 10px solid #000000;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 58px;
}

.title-wrapper h2 {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
}

.close-modal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background: url("../img/svg/modal-close-button.svg") no-repeat center transparent;
  cursor: pointer;
}

.close-modal:hover {
  opacity: 0.6;
}

.close-modal:focus-visible {
  outline: 5px solid #AF4FFF;
}

.close-modal:active {
  opacity: 0.3;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
}

.delivery-form label {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
}

.delivery-form input:not(.modal-input-range) {
  height: 60px;
  padding-left: 22px;
  border: transparent;
  background: #F0F0F0;
}

.modal-form-label:not(:last-of-type) {
  margin-bottom: 10px;
}

.modal-form-label:nth-child(2n-1):not(:last-of-type) {
  margin-right: auto;
}

.delivery-form input::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.delivery-form input:not(:placeholder-shown) {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
}

.modal-form-label input {
  margin-top: 18px;
}

.modal-form-label input:not(.modal-input-range):not(.modal-input-item) {
  width: 360px;
}

.modal-form-label {
  position: relative;
}

.modal-form-label input:hover {
  background: #EBEBEB;
}

.modal-form-label input:focus {
  outline: 5px solid #AF4FFF;
}

.modal-form-label input:not(:placeholder-shown) {
  outline: none;
  border: 3px solid #000000;
}

.modal-form-label input:active {
  border: 3px solid #000000;
  outline: none;
}

.error {
  outline: 3px solid #FF3D3D;
  outline-offset: -3px;
}

.error ~ span {
  color: #FF3D3D;
}

.modal-input-range:hover {
  background: #EBEBEB;
}

.modal-input-range:focus {
  outline: 5px solid #AF4FFF;
}

.modal-input-range:not(:placeholder-shown) {
  outline: none;
  border: 3px solid #000000;
}

.modal-input-range:active {
  border: 3px solid #000000;
}

.modal-form-label svg {
  position: absolute;
  top: 50%;
  right: 21px;
}

.modal-form-item {
  margin-right: auto;
  width: 560px;
}

.delivery-form span {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.items-range-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
}

.title-range-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 11px;
}

.title-range-wrapper .modal-form-label {
  margin-right: 5px;
}

.delivery-tooltip {
  transform: translateY(-2px);
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 50%;
  background: url("../img/svg/delivery-tooltip-icon.svg") no-repeat center transparent;
}

.delivery-tooltip:focus-visible {
  outline: none;
}

.modal-input-range {
  padding-left: 79px;
  width: 160px;
  height: 60px;
  border: 0;
  background: #F0F0F0;
  -moz-appearance: textfield;
}

.modal-input-range::-webkit-outer-spin-button,
.modal-input-range::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.delivery-items-range {
  position: absolute;
  top: 50px;
  display: flex;
  width: 160px;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 19px;
}

.delivery-items-range button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.delivery-items-range button:hover {
  opacity: 0.6;
}

.delivery-items-range button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.delivery-items-range button:active {
  opacity: 0.3;
}

.minus {
  background: url("../img/svg/minus-icon.svg") no-repeat center;
}

.plus {
  background: url("../img/svg/plus-icon.svg") no-repeat center;
}

.send-form {
  background: transparent;
  margin-top: 54px;
}

.tooltip-popup {
  position: absolute;
  top: 38px;
  right: -73px;
  z-index: 51;
  display: none;
  width: 200px;
  padding: 19px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  background: #000000;
}

.delivery-tooltip:hover + .tooltip-popup {
  display: block;
}

.tooltip-popup::before {
  content: "";
  position: absolute;
  right: 50%;
  top: -6px;
  transform: translateX(50%) rotate(45deg);
  width: 14px;
  height: 14px;
  background: #000000;
}

.show-modal {
  display: flex;
}
